<h1>Show Place</h1>
<p id="notice"><%= notice %></p>

<%= render "form", only_show: true %>

<div class="text-center">
  <%= link_to 'Back', loose_hashed_url(places_path), class: 'btn btn-default' %> |
  <%= link_to 'Edit', loose_hashed_url(edit_place_path(@place)), class: 'btn btn-primary' %>
</div>
